<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="D&D 5e Character Creator" content="Tools to help play D&D 5th Edition">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>D&D Helper</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<%- include('partials/header') -%>
		</header>
		<main class="ml-5 mt-5">
			<span class="block text-lg font-medium leading-6 text-gray-900">D&D Character Creator</span>
			<form action='/character/createCharacter' method="POST" id="charForm">

				<div class="w-1/4 my-2">
					<label for="charName" class = "text-sm font-medium text-gray-700">Character Name:</label>
					<input name = "CharName" type="text" id="charName" class = "block w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
				</div>

				<div class="inline-block w-1/5 my-2">	
					<label for="alignment" class ="text-sm font-medium text-gray-700">Alignment:</label>
					<select name="Alignment" id="alignment" class="mt-1 block w-1/2 rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
						<option value="none" selected disabled hidden>Select</option>
						<option value="lawfulGood">Lawful Good</option>
						<option value="lawfulNeutral">Lawful Neutral</option>
						<option value="lawfulEvil">Lawful Evil</option>
						<option value="neutralGood">Neutral Good</option>
						<option value="trueNeutral">True Neutral</option>
						<option value="neutralEvil">Neutral Evil</option>
						<option value="chaoticGood">Chaotic Good</option>
						<option value="chaoticNeutral">Chaotic Neutral</option>
						<option value="chaoticEvil">Chaotic Evil</option>
					</select>
				</div>
				
				<div class="inline-block w-1/5 my-2" onchange="enableSubrace()">
					<label for="race-select" class = "text-sm font-medium text-gray-700">Race:</label>
					<select name="Race" id="race" class="mt-1 block w-1/2 rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
						<option value="none" selected disabled hidden>Select</option>
						<option value="Dragonborn">Dragonborn</option>
						<option value="Dwarf">Dwarf</option>
						<option value="Elf">Elf</option>
						<option value="Gnome">Gnome</option>
						<option value="Halfling">Halfling</option>
						<option value="Half-Elf">Half-Elf</option>
						<option value="Half-Orc">Half-Orc</option>
						<option value="Human">Human</option>
						<option value="Tiefling">Tiefling</option>
					</select>
				</div>
	
				<div class="inline-block w-1/5 my-2 hidden" id="elfSubrace" >
					<label for="subrace-select" class = "text-sm font-medium text-gray-700">Subrace:</label>
					<select name="Subrace" id="subrace" class="mt-1 block w-1/2 rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
						<option value="none" selected disabled hidden>Select</option>
						<option value="High Elf">High Elf</option>
						<option value="Wood Elf">Wood Elf</option>
						<option value="Dark Elf">Dark Elf (Drow)</option>
					</select>
				</div>

				<div class="inline-block w-1/5 my-2 hidden" id="dwarfSubrace" >
					<label for="subrace-select" class = "text-sm font-medium text-gray-700">Subrace:</label>
					<select name="Subrace" id="subrace" class="mt-1 block w-1/2 rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
						<option value="none" selected disabled hidden>Select</option>
						<option value="Hill Dwarf">Hill Dwarf</option>
						<option value="Mountain Dwarf">Mountain Dwarf</option>
					</select>
				</div>

				<div class="inline-block w-1/5 my-2 hidden" id="gnomeSubrace" >
					<label for="subrace-select" class = "text-sm font-medium text-gray-700">Subrace:</label>
					<select name="Subrace" id="subrace" class="mt-1 block w-1/2 rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
						<option value="none" selected disabled hidden>Select</option>
						<option value="Forest Gnome">Forest Gnome</option>
						<option value="Rock Gnome">Rock Gnome</option>
					</select>
				</div>

				<div class="inline-block w-1/5 my-2 hidden" id="halflingSubrace" >
					<label for="subrace-select" class = "text-sm font-medium text-gray-700">Subrace:</label>
					<select name="Subrace" id="subrace" class="mt-1 block w-1/2 rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
						<option value="none" selected disabled hidden>Select</option>
						<option value="Lightfoot Halfling">Lightfoot Halfling</option>
						<option value="Stout Halfling">Stout Halfling</option>
					</select>
				</div>
	
				<div class="inline-block w-1/5 my-2">
					<label for="class-select" class = "text-sm font-medium text-gray-700">Class:</label>
					<select name="Class" id="class" class="mt-1 block w-1/2 rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
						<option value="none" selected disabled hidden>Select</option>
						<option value="Barbarian">Barbarian</option>
						<option value="Bard">Bard</option>
						<option value="Cleric">Cleric</option>
						<option value="Druid">Druid</option>
						<option value="Fighter">Fighter</option>
						<option value="Monk">Monk</option>
						<option value="Paladin">Paladin</option>
						<option value="Ranger">Ranger</option>
						<option value="Rogue">Rogue</option>
						<option value="Sorcerer">Sorcerer</option>
						<option value="Warlock">Warlock</option>
						<option value="Wizard">Wizard</option>
					</select>
				</div>

				<div class="w-3/4 my-2">
					<label for="traits" class="block text-sm font-medium text-gray-700">Personality Traits:</label>
					<textarea name="Traits" form="charForm" class="h-20 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" id="traits"></textarea>
				</div>

				<div class="w-3/4 my-2">
					<label for="ideals" class="block text-sm font-medium text-gray-700">Character Ideals:</label>
					<textarea name="Ideals" class="h-20 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" id="ideals"></textarea>
				</div>

				<div class="w-3/4 my-2">
					<label for="bonds" class="block text-sm font-medium text-gray-700">Character Bonds:</label>
					<textarea name="Bonds" class="h-20 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" id="bonds"></textarea>
				</div>

				<div class="w-3/4 my-2">
					<label for="flaws" class="block text-sm font-medium text-gray-700">Character Flaws:</label>
					<textarea name="Flaws" class="h-20 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" id="flaws"></textarea>
				</div>

				<div class="w-3/4 my-2">
					<label for="description" class="block text-sm font-medium text-gray-700">Character Traits and Features:</label>
					<textarea name="Description" class="h-20 mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" id="description"></textarea>
				</div>

				<div class="my-2">
					<button class="characterSubmit inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white 		shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Submit</button>
				</div>
			</form>
		</main>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>