<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="D&D 5e Character Creator" content="Tools to help play D&D version 5">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>D&D Helper</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<body>
			<header>
				<span>D&D Character Creator</span>
			</header>
			<main>
				<form action='/createCharacter' method="POST">
	
					<label for="race-select">Choose a race:</label>
					<select name="Race" id="race">
						<option value="dragonborn">Dragonborn</option>
						<option value="dwarf">Dwarf</option>
						<option value="elf">Elf</option>
						<option value="gnome">Gnome</option>
						<option value="halfling">Halfling</option>
						<option value="halfelf">Half-Elf</option>
						<option value="halforc">Half-Orc</option>
						<option value="human">Human</option>
						<option value="tiefling">Tiefling</option>
					</select>
	
					<!--
						Dwarves are a bold and hardy race who are skilled warriors, miners, and works of stone and metal. They live for over 400 years in mountainous areas and stand under five feet tall, but can weigh as much as a human. They have a long history, have deep grudges, and are quite devoted to their traditions and gods. Dwarves are loyal and have a strong sense of justice, but are slow to trust others, especially races  
					-->
	
					<label for="subrace-select">Choose a subrace (if available):</label>
					<select name="Subrace" id="race">
						<option value="hilldwarf">Hill Dwarf</option>
						<option value="mountaindwarf">Mountain Dwarf</option>
						<option value="highelf">High Elf</option>
						<option value="woodelf">Wood Elf</option>
						<option value="darkelf">Dark Elf (Drow)</option>
						<option value="forestgnome">Forest Gnome</option>
						<option value="rockgnome">Rock Gnome</option>
						<option value="lightfoothalfling">Lightfoot Halfling</option>
						<option value="stouthalfling">Stout Halfling</option>
						<option value="na">Not Available</option>
					</select>
	
					<label for="class-select">Choose a class:</label>
					<select name="Class" id="class">
						<option value="barbarian">Barbarian</option>
						<option value="bard">Bard</option>
						<option value="cleric">Cleric</option>
						<option value="druid">Druid</option>
						<option value="fighter">Fighter</option>
						<option value="monk">Monk</option>
						<option value="paladin">Paladin</option>
						<option value="ranger">Ranger</option>
						<option value="rogue">Rogue</option>
						<option value="sorcerer">Sorcerer</option>
						<option value="warlock">Warlock</option>
						<option value="Wizard">Wizard</option>
					</select>
						
					<button class="characterSubmit">Submit</button>
				</form>

				<section>
					<h1>Characters: </h1>
					<ul class="characterList">
					<% for(let i=0; i < data.length; i++) {%>
						<li class="char">
							<span><%= data[i].Race %></span>
							<span><%= data[i].Subrace %></span>
							<span><%= data[i].Class %></span>
						</li>
					<% } %>
				</section>
			</main>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>