<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="D&D 5e Character Creator" content="Tools to help play D&D 5th Edition">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>D&D Helper</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body class="flex">
		<header>
			<span class="block text-lg font-medium leading-6 text-gray-900">D&D Character Creator</span>
		</header>
		<main class="mt-5 md:col-span-2 md:mt-0">
			<form action='/character/createCharacter' method="POST">

				<div class="flex-auto w-1/2 basis-1/2 col-span-6 sm:col-span-3">
					<label for="charName" class = "text-sm font-medium text-gray-700">Character Name:</label>
					<input name = "CharName" type="text" id="charName" class = "block w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
				</div>

				<div class="flex-auto w-1/2 basis-1/2 col-span-6 sm:col-span-3">	
					<label for="alignment" class ="text-sm font-medium text-gray-700">Choose an alignment:</label>
					<select name="Alignment" id="alignment" class="mt-1 block w-1/2 rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
						<option value="lawfulGood">Lawful Good</option>
						<option value="lawfulNeutral">Lawful Neutral</option>
						<option value="lawfulEvil">Lawful Evil</option>
						<option value="neutralGood">Neutral Good</option>
						<option value="trueNeutral">True Neutral</option>
						<option value="neutralEvil">Neutral Evil</option>
						<option value="chaoticGood">Chaotic Good</option>
						<option value="chaoticNeutral">Chaotic Neutral</option>
						<option value="chaoticEvil">Chaotic Evil</option>
					</select>
				</div>
				
				<div class="flex-auto w-1/2 basis-1/2 col-span-6 sm:col-span-3">
					<label for="race-select" class = "text-sm font-medium text-gray-700">Choose a race:</label>
					<select name="Race" id="race" class="mt-1 block w-1/2 rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
						<option value="Dragonborn">Dragonborn</option>
						<option value="Dwarf">Dwarf</option>
						<option value="Elf">Elf</option>
						<option value="Gnome">Gnome</option>
						<option value="Halfling">Halfling</option>
						<option value="Half-Elf">Half-Elf</option>
						<option value="Half-Orc">Half-Orc</option>
						<option value="Human">Human</option>
						<option value="Tiefling">Tiefling</option>
					</select>
				</div>
	
				<div class="flex-auto w-1/2 basis-1/2 col-span-6 sm:col-span-3">
					<label for="subrace-select" class = "text-sm font-medium text-gray-700">Choose a subrace (if available):</label>
					<select name="Subrace" id="race" class="mt-1 block w-1/2 rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
						<option value="Hill Dwarf">Hill Dwarf</option>
						<option value="Mountain Dwarf">Mountain Dwarf</option>
						<option value="High Elf">High Elf</option>
						<option value="Wood Elf">Wood Elf</option>
						<option value="Dark Elf">Dark Elf (Drow)</option>
						<option value="Forest Gnome">Forest Gnome</option>
						<option value="Rock Gnome">Rock Gnome</option>
						<option value="Lightfoot Halfling">Lightfoot Halfling</option>
						<option value="Stout Halfling">Stout Halfling</option>
						<option value="Not Available">Not Available</option>
					</select>
				</div>
	
				<div class="flex-auto w-1/2 basis-1/2 col-span-6 sm:col-span-3">
					<label for="class-select" class = "text-sm font-medium text-gray-700">Choose a class:</label>
					<select name="Class" id="class" class="mt-1 block w-1/2 rounded-md border border-gray-300 bg-white py-2 px-3 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
						<option value="Barbarian">Barbarian</option>
						<option value="Bard">Bard</option>
						<option value="Cleric">Cleric</option>
						<option value="Druid">Druid</option>
						<option value="Fighter">Fighter</option>
						<option value="Monk">Monk</option>
						<option value="Paladin">Paladin</option>
						<option value="Ranger">Ranger</option>
						<option value="Rogue">Rogue</option>
						<option value="Sorcerer">Sorcerer</option>
						<option value="Warlock">Warlock</option>
						<option value="Wizard">Wizard</option>
					</select>
				</div>

				<label for="traits" class="form-label block text-sm font-medium text-gray-700">Personality Traits:</label>
				<textarea class="form-control mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" id="textbox" name="textbox"></textarea>

				<label for="ideals" class="form-label block text-sm font-medium text-gray-700">Character Ideals:</label>
				<textarea class="form-control mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" id="textbox" name="textbox"></textarea>

				<label for="bonds" class="form-label block text-sm font-medium text-gray-700">Character Bonds:</label>
				<textarea class="form-control mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" id="textbox" name="textbox"></textarea>

				<label for="flaws" class="form-label block text-sm font-medium text-gray-700">Character Flaws:</label>
				<textarea class="form-control mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" id="textbox" name="textbox"></textarea>

				<label for="description" class="form-label block text-sm font-medium text-gray-700">Character Traits and Features:</label>
				<textarea class="form-control mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" id="textbox" name="textbox"></textarea>
						
				<button class="characterSubmit inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white 		shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Submit</button>
			</form>
		</main>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>