<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Tools to help play D&D version 5">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>D&D Helper</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>

		<form action="/" method="get"> <!--Hope it stays on / to get info-->
			<label for="spellSearch">Search spell name:</label>
			<input type="search" id="spellSearch">
			<button>Search</button>
            <section>
                <h2>Spell Name:<%=spell.name%></h2>
                <h3>Description:<%=spell.desc%></h3>
            </section>
        </form>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>